.hero {
    background: url('/assets/bg1.jpg') no-repeat center center;
    background-size: cover;
    height: 76vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
  }
  