<nav class="navbar">
    <div class="container">
      <a href="#" class="navbar-brand">CleverBooks</a>
      <ul class="navbar-menu">
        <li class="navbar-item"><a href="#hero" class="navbar-link">Home</a></li>
        <li class="navbar-item"><a href="#key-problems" class="navbar-link">Problems</a></li>
        <li class="navbar-item"><a href="#key-metrics" class="navbar-link">Metrics</a></li>
        <li class="navbar-item"><a href="#reviews" class="navbar-link">Reviews</a></li>
        <li class="navbar-item"><a href="#problem-target" class="navbar-link">Features</a></li>
        <li class="navbar-item"><a href="#cta" class="navbar-link">Get Started</a></li>
      </ul>
    </div>
  </nav>
  