<div class="container">
    <h2 style="font-family: Proxima nova,sans-serif;margin-bottom: 25px;font-size: 28px;font-weight: bolder;margin-top: 42px;text-align: center;">Four key questions answered by CleverBooks</h2>
</div>
<div id="key-problems" class="key-problems">
   <div class="container">
    <div class="problem-list">
        <div class="row">
            <div class="col-lg-3">
              <img style="width: 68px;" src="https://cdn.prod.website-files.com/639b3e775b326dcf7cea3e70/63f63ee54595853ca5e31682_what%20to%20orderr%20(1).svg" alt="Generic placeholder image" width="140" height="140">
              <h2 style="font-size: 28px;">What to order</h2>
              <p class="details">Get accurate demand and days to stock out. Automate purchase planning so you can always have what you need for your next sales cycle.</p>
            
            </div>
            <div class="col-lg-3">
              <img style="width: 68px;" src="https://cdn.prod.website-files.com/639b3e775b326dcf7cea3e70/63bd0d2fab2e360025df922a_when%20to%20orderr.svg" alt="Generic placeholder image" width="140" height="140">
              <h2 style="font-size: 28px;">When to order</h2>
              <p class="details">Have up-to-date inventory, storage, sales velocity, and demand. Get timely order suggestions so you're never left guessing.</p>
            
            </div>
            <div class="col-lg-3">
              <img style="width: 68px;" src="https://cdn.prod.website-files.com/639b3e775b326dcf7cea3e70/63bd0cc629ab7f2d8cb0a8bd_how%20much%20to%20stock.svg" alt="Generic placeholder image" width="140" height="140">
              <h2 style="font-size: 28px;">How much to stock</h2>
              <p class="details">Get inventory requirements for every node, for every SKU. So you avoid out-of-stock situations, even during demand spikes.</p>
            
            </div>
            <div class="col-lg-3">
                <img style="width: 68px;" src="https://cdn.prod.website-files.com/639b3e775b326dcf7cea3e70/63bd0c2c27cde81ffea6515b_where%20to%20placee.svg" alt="Generic placeholder image" width="140" height="140">
                <h2 style="font-size: 28px;">Where to place</h2>
                <p class="details">Our tool suggests how to move stock within your supply chain. So you'll always have products available across cities.</p>
              
              </div>
          </div>
    </div>
   </div>
  </div>
  