<div class="container mt-5 mb-5" id="cta">
    <div class="jumbotron p-4 p-md-5 rounded" style="color:#a6afaa !important;">
        <div class="col-md-12 px-0">
          <h1 class="display-4 font-italic">You can grow faster than you think!</h1>
          <p class="lead my-3">Plan with CleverBooks to fulfil your demand today, and dreams tomorrow. We bring the methods and technologies of large global companies to help brands of all sizes scale.</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Get started with CleverBooks</a></p>
        </div>
      </div>
</div>